numpy==2.3.5
pysvtools==2.0.2
pysvtools.alps==2.12.0.600
pysvtools.analog_automation==4.0.5.600
pysvtools.asciitable==2.1.1.600
pysvtools.azure_py_authenticator==0.5.0.600
pysvtools.bitmanip==0.4.10.600
pysvtools.collateral_checker==1.8.3.600
pysvtools.debug_facade==1.0.0.600
pysvtools.dvengine==5.0.8.600
pysvtools.executionmanager==1.2.9.600
pysvtools.frozen==2.0.0.600
pysvtools.fv_markers==1.2.0
pysvtools.fv_tools_infra==0.4.2.600
pysvtools.hsdes==1.3.1
pysvtools.marginparameter==1.4.9
pysvtools.mca_tools==2.4.1.600
pysvtools.nga_api_layer==3.2.0.600
pysvtools.nga_ev_automation==0.1.8.600
pysvtools.nga_logger==0.1.4
pysvtools.oobmsmbaseaccess==2.6.1.600
pysvtools.openipc_utils==0.20.0.600
pysvtools.pandolier==1.5.0.600
pysvtools.pyhvm==3.0.8
pysvtools.pysvjet_server==0.3.15.600
pysvtools.remote_logger==1.1.10
pysvtools.sbasfwk==0.0.54.600
pysvtools.server_ras_utils==3.7.2.600
pysvtools.slt==2.3.2
pysvtools.soctools==1.3.1.600
pysvtools.softev==3.3.2
pysvtools.state_uarch==1.0.7
pysvtools.stethoscope==0.1.1.600
pysvtools.sxpcontroller==2.9.6.600
pysvtools.tracehub==4.0.8
pysvtools.xmlcli==1.6.4
pysvtools_avddrx==0.1.62
pysvtools_bootscript==4.17.0.600
pysvtools_c3po_openipc==1.14.0.600
pysvtools_cabist==1.5.0.600
pysvtools_cbbtools==1.1.1.600
pysvtools_clklib==1.3.119.600
pysvtools_crashlog==3.158.25482.600
pysvtools_dal_compatibility==2.0.0
pysvtools_debug_mca==3.17.0.600
pysvtools_dimmeeprom==5.1.14.600
pysvtools_execution==2.7.3.600
pysvtools_eyeglassbridge==1.3.2.600
pysvtools_fish_automation==1.2532.0
pysvtools_fitnflash==1.2.7.600
pysvtools_flexcon==2.119.0.600
pysvtools_flexcon_db==4.16.0.600
pysvtools_fv_ras_tools==0.23.0.600
pysvtools_fw_nn==2.8.3.600
pysvtools_genichat==0.9.0.600
pysvtools_hmrc==0.7.13.600
pysvtools_hsdes_v2==0.1.18.600
pysvtools_hsiotestcard==1.6.19.600
pysvtools_ijtag==0.9.1.600
pysvtools_listing_converters==0.5.2.600
pysvtools_ltssm==0.9.3.600
pysvtools_mbist==0.7.1.600
pysvtools_nanoscope==3.2531.0.600
pysvtools_nga_gen_import==0.1.6.600
pysvtools_nn_accesses==1.4.11.600
pysvtools_patch23==7.8.0.600
pysvtools_pciedebug==2.9.7.600
pysvtools_piinl==1.1.13.600
pysvtools_pmext==3.0.1.600
pysvtools_psmi==3.4.3.600
pysvtools_pysv_lmdb_creation==0.4.2.600
pysvtools_recipe_checker==2.26.11
pysvtools_run_control==2.5.7.600
pysvtools_safd==0.1.13.600
pysvtools_sat==2.254902.1030
pysvtools_serial_logger==1.0.7.600
pysvtools_server_ip_debug==1.37.1.600
pysvtools_server_wave_5==0.7.6.600
pysvtools_simicsbaseaccess==1.5.4.600
pysvtools_simicsmailbox==2.3.4.600
pysvtools_simpi==1.0.11100.600
pysvtools_starter==3.5.1.600
pysvtools_state_dump==0.3.21
pysvtools_status_scope==5.4.0.600
pysvtools_status_scope_ext==2.6.15
pysvtools_sys2tester==1.1.2.600
pysvtools_textprompts==4.0.1.600
pysvtools_trustmate==3.6.13.600
pysvtools_udm_pusher==1.4.1.600
pysvtools_ultiscan==0.4.14.600
pysvtools_uvapi==1.0.28.600
pysvtools_visa_namednodes==3.3.2.600
pysvtools_wwutils==1.9.0.600
pysvtools_xtensa==1.3.0.600
Requests==2.32.5
svtools==1.0.3.600
svtools.axonsv_web_api==1.0.0.600
svtools.intel_version==2.2.0.600
svtools.ipypi_testutils==3.1.0.600
svtools.itpbaseaccess==1.0.5
svtools.listing_viewer.egg==info
svtools.logging==3.4.1.600
svtools.memory_map==0.7.0.600
svtools.opent==0.8.0.600
svtools.pysv2axon==6.7.1.600
svtools.pysvrepo==1.6.0.600
svtools.rocksdbpy==0.1.0.600
svtools.settings_manager==3.1.0.600
svtools.svosbaseaccess==3.2.2
svtools_axon_ingest==4.7.0.600
svtools_c3po==2.13.0.600
svtools_chassis_fuse==5.5.1.600
svtools_common==4.1.0.600
svtools_dflaunch==2.4.2.600
svtools_dtree==3.0.0.600
svtools_ipip==3.9.1.600
svtools_itp2baseaccess==5.3.1.600
svtools_listing_viewer==0.18.4.600
svtools_menu==4.0.0.600
svtools_nnviewer==2.3.6.600
svtools_onesource==2.2.0.600
svtools_pfo==2.3.0.600
svtools_plantuml==4.0.1.600
svtools_probe_bundles==7.6.3.600
svtools_pylod==6.4.0.600
svtools_pythonsv_setup==2.6.0.600
svtools_report==4.6.0.600
svtools_richprompts==1.1.0.600
svtools_stubbaseaccess==3.1.1.600
svtools_svdt==0.1.0.600
